.authContainer {
    width: 250px;
    background-color: lightblue;
    padding: 20px;
}

.authTitleContainer {
    display: flex;
    justify-content: center;
}

.authContainer h3 {
    display: inline-block;
    padding: 5px 10px;
    width: 75px;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    border: 1px solid black;
}

h3.authLeft {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-right: 1px;
}

h3.authRight {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left: 1px;
}

.signupFormContainer form {
    display: flex;
    flex-direction: column;
}

.loginFormContainer form {
    display: flex;
    flex-direction: column;
}

.signupFormContainer form input,
.loginFormContainer form input {
    margin: 5px 0;
    padding: 5px;
    font-size: 14px;
    letter-spacing: 1px;
    outline: none;
    background-color: #333;
    color: #ddd;
}
