* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

}

.timerDisplayDiv {
    text-align: center;
}

.timerDisplay {
    font-family: sans-serif;
    font-size: 50px;
    font-weight: lighter;
}

.btnDisplayDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btnDisplayDiv button {
    margin: 5px 20%;
    padding: 5px;
    border-radius: 5px;
    background-color: #444;
    color: white;
    font-size: 18px;
}
