* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}



/*-----------*/
/*----NAV----*/
/*-----------*/
.navDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: linear-gradient(#12151c, #1b1f2a90);
    -webkit-box-shadow: inset 1px 10px 40px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: inset 1px 10px 40px 0px rgba(0,0,0,0.55);
    box-shadow: inset 1px 10px 40px 0px rgba(0,0,0,0.55);
    position: fixed;
    bottom: 0;
}

.navLinks {
    display: flex;
    width: 100%;
    font-size: 12px;
}

.navDiv a {
    color: #e0ddd5;
    padding: 10px;
    margin: 0;
    transition: .4s;
}

.navDiv a:hover {
    background-color: #ddd;
    color: black;
}

.sandWhichMenu {
    width: 50px;
}

.sandwhichMenu i {
    color: white;
    font-size: 30px;
    padding: 5px 10px;
}

.sandwhichMenu i:hover {
    cursor: pointer;
}




/*------------*/
/*----HOME----*/
/*------------*/
.headerBackground {
    background: url('./resources/20170423_154859.jpg');
    background-size: cover;
    height: 100%;
    background-position: center;
    background-attachment: fixed;
}

.pageOverlay {
    height: 100%;
    background-color: #111111c9;
}

.homePageScroll {
    height: 700px;
    overflow-y: scroll;
    padding-top: 70px;
    padding-bottom: 40px;
}

.homePageScroll::-webkit-scrollbar {
    background-color: #1119;
}

.homePageScroll::-webkit-scrollbar-thumb {
    background-color: #ddd6;
}

.headerBackground h1,
.headerBackground h2 {
    margin: 0;
    color: #eee;
    text-align: center;
}

.headerBackground h1 {
    font-size: 50px;
    letter-spacing: 1px;
    font-weight: 300;
    padding-top: 100px;
}

.headerBackground h2 {
    font-size: 15px;
    letter-spacing: 2px;
    margin-bottom: 15px;
    font-weight: lighter;
    padding-top: 30px;
}

.bodyDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 170px;
}


/*=====LEFT SIDE=====*/
.introLeftSideContainer {
    grid-column: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-right: .5px solid white;
    margin-right: 1px;
}

.bodyDiv h3 {
    margin: 0;
    padding-bottom: 5px;
    font-weight: 300;
    color: white;
    font-size: 12px;
    border-bottom: 1px solid white;
    font-weight: 400;
    width: 100%;
    text-align: center;
}

.bodyDiv img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    margin-top: 15px;
}

.bodyDiv button {
    padding: 8px 12px;
    font-size: 12px;
    margin-top: 15px;
    border-radius: 4px;
    outline: none;
    border: none;
    background-color: #444;
    color: #eee;
}

.bodyDiv button:hover {
    background-color: #222;
    color: #eee;
}



/*=====RIGHT SIDE=====*/
.introRightSideContainer {
    grid-column: 2;
    border-left: .5px solid white;
    margin-left: 1px;
}


.bodyDiv h4 {
    margin: 0;
    padding: 5px;
    font-size: 16px;
    border-bottom: 1px solid white;
    font-weight: 400;
}

.bodyDiv ul {
    list-style: none;
    text-align: center;
    color: white;
    padding: 0;
    margin-top: 0;
    border-bottom: 1px solid white;
}

.bodyDiv li {
    font-size: 13px;
    line-height: 30px;
}





/*=====LEFT TO RIGHT=====*/
.homeFullContainer {
    grid-column: 1 / -1;
    margin-top: 20px;
}

.homeFullContainer p {
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 14px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin: 25px 0;
}

.homeSkillsTitle {
    grid-column: 1 / -1;
    text-align: center;
}

.homeSkillsTitle h3 {
    font-size: 18px;
    letter-spacing: 2px;
    margin-top: 20px;
    font-weight: 400;
}

.homeSkillsLeft {
    border-right: 1px solid white;
    margin-right: 1px;
}

.homeSkillsRight {
    border-left: 1px solid white;
    margin-left: 1px;
}





.projectsHeaderBackground div,
.aboutHeader div {
    background-color: #0008;
    height: 450px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}






.bodyHr {
    width: 90%;
    opacity: .7;
}




/*--------------*/
/*---PROJECTS---*/
/*--------------*/
.projectsHeaderBackground {
    background: url('./resources/amsterdam.jpg');
    background-size: cover;
    height: 450px;
    background-position: center;
    margin-bottom: 10px;
}

.projectsHeaderBackground h1 {
    color: #e0ddd5;
    font-weight: lighter;
    font-size: 65px;
    letter-spacing: 3px;
}

.mappedProjectsContainer {
    margin-top: 10px;
    padding: 10px;
    background-color: #e0ddd5;
}




/*--------------*/
/*---PROJECT----*/
/*--------------*/
.projectContainer {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #3339;
    color: #e0ddd5;
    -webkit-box-shadow: 1px 2px 28px -3px rgba(28,28,28,1);
    -moz-box-shadow: 1px 2px 28px -3px rgba(28,28,28,1);
    box-shadow: 1px 2px 28px -3px rgba(28,28,28,1);
}

.tileContainer {
    margin: 0;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 24px;
    color: #e0ddd5;
}

.tileContainer button {
    margin-right: 10px;
    margin-bottom: 5px;
    font-size: 18px;
    border-radius: 3px;
    outline: none;
    color: white;
    background-color: #3339;
    border: none;
}

.projectContainer p {
    font-size: 16px;
    font-weight: lighter;
    letter-spacing: .5px;
}

.projectImgsDiv {
    display: flex;
    justify-content: space-around;
}

.projectImgsDiv button {
    border-radius: 5px;
    padding: 0;
    margin: 0;
}

.projectImgsDiv img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.projectUrlBtnDiv {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.projectUrlBtnDiv button {
    padding: 5px 10px;
    border-radius: 3px;
    background-color: #e0ddd5;
    border: none;
    margin-bottom: 10px;
}

.projectUrlBtnDiv a {
    text-decoration: none;
    font-size: 17px;
    color: #283d70;
}



/*---------------*/
/*-----ABOUT-----*/
/*---------------*/
.aboutHeader {
    background: url('./resources/paris.jpg');
    background-size: cover;
    height: 450px;
    background-position: center;
    margin-bottom: 20px;
}

.aboutHeader div {
    color: #e0ddd5;
    font-weight: lighter;
    font-size: 65px;
    letter-spacing: 3px;
}

.aboutHeader h1 {
    font-size: 45px;
    font-weight: 200;
    letter-spacing: 3px;
    color: #e0ddd5;
}

.aboutHeader button {
    padding: 15px 20px;
    font-size: 15px;
    margin-top: 10px;
    border-radius: 4px;
    outline: none;
    border: none;
}

.aboutInfoContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 200px);
    padding: 0 10px;
}

.educationDiv,
.skillsDiv,
.contactDiv {
    margin: 10px;
    padding: 10px;
    background-color: #e0ddd5;
    -webkit-box-shadow: 1px 2px 7px 2px rgba(28,28,28,0.75);
    -moz-box-shadow: 1px 2px 7px 2px rgba(28,28,28,0.75);
    box-shadow: 1px 2px 7px 2px rgba(28,28,28,0.75);
}

.educationDiv h3,
.skillsDiv h3,
.contactDiv h3 {
    margin: 0;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.educationDiv {
    grid-row: 3;
    grid-column: 1 / -1;
}

.educateDivTop {
    display: flex;
    justify-content: space-between;
}

.schoolTitle {
    font-size: 19px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: .5s;
}

.schoolTitle a {
    text-decoration: none;
    color: black;

}

.schoolTitle a:hover {
    border-bottom: 1px solid black;
}

.skillsDiv {
    grid-row: 1;
    grid-column: 1 / -1;
}

.contactDiv {
    grid-row: 2;
    grid-column: 1 / -1;
}

.contactDiv div {
    display: flex;
    justify-content: space-around;
}

.contactDiv ul {
    list-style: circle;
    padding: 0;
}

.skillsDiv div {
    display: flex;
    justify-content: space-around;
}

.skillsDiv ul {
    list-style: circle;
    padding: 0;
}

.gitIcon:visited,
.linkIcon:visited,
.googIcon:visited {
    color: black;
}

.gitIcon:hover {
    color: #6e5494;
}

.linkIcon:hover {
    color: #0077B5;
}

.googIcon:hover {
    color: #dd4b39;
}

.icons {
    font-size: 45px;
    color: black;
    transition: .4s;
}


/*--------------*/
/*----FOOTER----*/
/*--------------*/
.footerDiv {
    height: 15px;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 8px;
    font-weight: 200;
    position: fixed;
    top: 0;
    width: 100%;
}






/*---------------*/
/*----QUERIES----*/
/*---------------*/

@media only screen and (min-width: 600px){
    .projectsHeaderBackground h1 {
        font-size: 75px;
        letter-spacing: 3px;
        font-weight: 300;
    }

    .headerBackground h1 {
        font-size: 60px;
    }

    .headerBackground h2 {
        font-size: 21px;
    }

    .tileContainer {
        font-size: 30px;
        align-items: center;
        display: flex;
        justify-content: flex-start;;
    }

    .projectImgsDiv img {
        width: 150px;
        height: 150px;
    }

    .projectContainer p {
        font-size: 18px;
        font-weight: 300;
    }

    .projectUrlBtnDiv button {
        padding: 10px 20px;
    }

    .projectUrlBtnDiv a {
        font-size: 18px;
    }

    .skillsDiv {
        grid-column: 1 / 3;
    }
    .contactDiv {
        grid-column: 2 / -1;
    }
    .educationDiv {
        grid-column: 1 / 3;
    }

}



@media only screen and (min-width: 800px){
    .projectsHeaderBackground h1 {
        font-size: 85px;
        letter-spacing: 5px;
        font-weight: 300;
    }

    .headerBackground h1 {
        font-size: 70px;
    }

    .headerBackground h2 {
        font-size: 25px;
    }

    .tileContainer {
        font-size: 35px;
    }

    .projectImgsDiv img {
        width: 200px;
        height: 200px;
    }

    .projectContainer p {
        font-size: 21px;
        font-weight: 300;
    }

    .projectUrlBtnDiv button {
        padding: 15px 20px;
        margin-bottom: 10px;
    }

    .projectUrlBtnDiv a {
        font-size: 18px;
    }

    .aboutInfoContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(2, 200px);
    }

    .skillsDiv {
        grid-column: 1 / 3;
    }
    .contactDiv {
        grid-row: 1;
        grid-column: 3 / -1;
    }
    .educationDiv {
        grid-row: 2;
        grid-column: 2 / 4;
    }
}



@media only screen and (min-width: 1200px){
    .tileContainer {
        font-size: 40px;
    }

    .projectImgsDiv img {
        width: 250px;
        height: 250px;
    }

    .aboutInfoContainer {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(1, 200px);
    }

    .skillsDiv {
        grid-column: 1 / 2;
    }
    .contactDiv {
        grid-column: 2 / 3;
    }
    .educationDiv {
        grid-row: 1;
        grid-column: 3 / 4;
    }
}
