body {
    text-align: center;
    margin: 0;
}

.container { 
    margin-left: 20%
}

form {

}

fieldset {
    width: 70%;
    height: 100px;
}

#sub {
    width: 25%;
    margin-right: 25%;
    background-color: d
}

input {
    width: 100px;
    height: 25px
}
