var request = require('request');

request('http://pokeapi.co/api/v1/pokemon/25/', function (error, response, body) {  
    if (!error && response.statusCode === 200) {
        var data = JSON.parse(body);
        console.log("Pokemon Name: " + data.name);
        console.log("Speed: " + data.speed);
        console.log("Weight: " + data.weight);
        console.log("Favorite Move: " + data.moves[2].name);
    }
});