* {
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: lighter;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

:root {

}

.nav {
    height: 100vh;
    background-color: #333;
    color: #ddd;
    position: absolute;
    width: 100vw;
    transition: .4s ease-out;
}

.nav-icon {
    display: inline-block;
    padding-right: 5px;
}

.nav-menu {
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    flex-direction: column;
    width: 100vw;
    margin-top: 2px;
    transition: .4s;
    padding-top: 150px;
}

.nav-menu > a {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 26px;
    padding: 25px 10px;
    margin: 0 25px;
    border-radius: 2px;
    transition: .3s;
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-menu > a:hover {
    background-color: #222;
   
}

.nav-menu > a:visited {
    color: #ddd9;
}

.nav-banner {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 45px;
    background-color: #333;
    color: #ddd;
}

.nav-banner > span {
    padding: 8px;
    background-color: #bbb;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .05s;
}

.nav-banner span:active {
    background-color: #aaa;

}



/*-------------------*/
/*---DECK_CONTAINER--*/
/*-------------------*/

/* holds all decks*/
.decks-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 15px;
}

.decks-container div div h2 {
    text-align: center;
    margin: 10px 0;
}

/* holds individual deck content*/
.deck-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #ddd;
    border: 1px solid #444;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 5px 0;
    height: 100px;
    width: 200px;
}

.deck-container h3 {
    font-style: italic;
}

.deck-container button {
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border-radius: 4px;
}

/* holds all cards */
.cards-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cards-container div h1 {
    text-align: center;
}

/* holds individual card content */
.card-container {
    height: 250px;
    margin-top: 80px;
    width: 300px;
}

.card-face {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    z-index: 2;
    padding: 5px;
}

.card-face div span {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #5559;
}

.card-face div h1 {
    
}

.new-cardbtn-container {
    border-radius: 3px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.new-cardbtn-container > button {
    padding: 10px 30px;
    border-radius: 3px;
    outline: none;

}


/*-------------------*/
/*---ADD_CARD_FORM---*/
/*-------------------*/
.add-card-form {
    display: flex;
    flex-direction: column;
    transition: .4s;
    position: absolute;
    width: 100vw;
    height: 50vh;
    padding: 5px;
    background-color: #333;
    top: 40px;
}

.add-card-form input,
.add-card-form select {
    margin: 5px 0;
    padding: 3px;
}