@media only screen and (max-width: 995px){
fieldset {
    transform: translateX(-45%)
}





@media only screen and (max-width: 850px) {
header h1 {
    font-size: 65px;
    text-align: center;
}

header h2 {
    text-align: center;
    margin-right: 120px;
}

.threeCitiesContainer {
    flex-direction: column;
    height: 900px;
}

#city1Div,
#city2Div,
#city3Div {
    width: 80%;
    align-self: center;
}

.overlay,
.testimonialsDiv {
    height: 690px;
}

.testimonialHeader h3 {
    font-size: 29px;
}

#testimonial1,
#testimonial2 {
    font-size: 19px;
    margin: 10px;
    padding: 5px;
}

.testyBox {
    flex-direction: column;
    margin: 0 20px;
}

.capLetter {
    font-size: 35px;
}

fieldset {
    transform: none;
    transform: translateX(-30%);
}

}




@media only screen and (max-width: 750px) {
fieldset {
    transform: translateX(-20%);
}
}




@media only screen and (max-width: 680px){
fieldset {
    transform: translateX(-8%);
}

.overlay, .testimonialsDiv {
    height: 686px;
}
}




@media only screen and (max-width: 590px) {
.footerContainer {
    flex-direction: column;
    height: 375px;
    margin-top: 0;
    text-align: center;
    align-items: center;
    }

.socialMediaHeader {
    margin-top: 20px;
}

.socialIcons {
    margin-bottom: 10px;
}

nav {
    font-size: 20px;
}

nav li {
    margin-top: 17px;
    margin-right: 5px;
}

fieldset {
    transform: translate(0%);
}

}




@media only screen and (max-width: 505px) {

header {
    height: 735px;
}

.headerDiv {
    margin-top: 0;
}

.navDiv {
    border: 1px solid #bbb;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.navContainer {
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #bbb;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#testimonial1,
#testimonial2 {
    font-size: 17px;
    margin: 5px;
}

.testImgDiv {
    margin-top: 13px;
}

.threeCitiesContainer {
    height: 1000px;
}

.footerContainer {
    height: 400px;
}

}
