.displayDiv {

}

.displayDiv button {
    margin-top: 60px;
}

.displayHeadTitle {
    text-align: center;
    font-weight: lighter;
    margin-top: 0px;
    padding-top: 30px;
}

.displayContainer {
    display: grid;
    grid-template-columns: 3fr 20fr 1fr;
}

.searchFormDiv {
    display: grid;
    grid-template-columns: 4fr 20fr 1fr;
    margin-top: 0;
    padding-top: 0;
}

.searchFormContainer {
    grid-column: 2;
}

.searchFormContainer form {

}

.searchFormContainer form input {
    padding: 13px;
    font-size: 14px;
    font-weight: lighter;
    border: 1px solid #3339;
    border-radius: 4px;
    width: 180px;
    margin-right: 10px;
    outline: none;
    display: inline-block;
}

.searchFormContainer form button {
    padding: 12px 10px;
    border-radius: 3px;
    outline: none;
    display: inline-block;
    margin-top: 20px;
}

.storyContainer {
    border-radius: 2px;
    margin: 5px;
    padding: 5px;
    grid-column: 2;
    background-color: #ddd;
    -webkit-box-shadow: -1px 1px 8px 1px rgba(0,0,0,0.62);
    -moz-box-shadow: -1px 1px 8px 1px rgba(0,0,0,0.62);
    box-shadow: -1px 1px 8px 1px rgba(0,0,0,0.62);
}

.timeContainer {
    text-align: right;
}

.timeContainer span {
    font-size: 10px;
    font-weight: lighter;
    color: #333;
}

.storyContainer h1 {
    margin: 0;
    font-size: 16px;
    color: #333;
}

.storyContainer p {
    font-size: 12px;
    padding: 0;
    margin: 0;
    color: #333;
}

.storyImgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.storyImgContainer img {
    width: 100%;

}
