.displayDiv {
    background-color: #bbb9;
    padding-bottom: 40px;
}

.displayDiv button {
    margin-top: 60px;
}

.displayHeadTitle {
    text-align: center;
    font-weight: lighter;
    margin-top: 0px;
    padding-top: 30px;
    grid-column: 2;
}

.displayContainer {
    display: grid;
    grid-template-columns: 3fr 20fr 1fr;
}

.searchFormDiv {
    display: grid;
    grid-template-columns: 4fr 20fr 1fr;
    margin-top: 0;
    padding-top: 0;
}

.searchFormContainer {
    grid-column: 2;
}

.searchFormContainer form {

}

.searchFormContainer form input {
    padding: 13px;
    font-size: 14px;
    font-weight: lighter;
    border: 1px solid #3339;
    border-radius: 4px;
    width: 70%;
    margin-right: 10px;
    outline: none;
    display: inline-block;
}

.searchFormContainer form button {
    padding: 12px 10px;
    border-radius: 3px;
    outline: none;
    display: inline-block;
    margin-top: 20px;
}

.storyContainer {
    border-radius: 3px;
    margin: 5px;
    grid-column: 2;
}

.timeContainer {
    text-align: right;
    padding-right: 5px;
}

.timeContainer span {
    font-size: 10px;
    font-weight: lighter;
    color: #333;
}

.storyContainer h1 {
    margin: 0;
    font-size: 16px;
    color: #333;
    padding: 5px;
    font-weight: lighter;
}

.storyContainer p {
    font-size: 12px;
    padding: 5px;
    margin: 0;
    color: #333;
}

.storyImgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 5px 5px 5px;
}

.storyImgContainer img {
    width: 100%;
    border-radius: 5px;
}

.storyContainer a {
    padding: 5px;
}


@media only screen and (min-width: 400px){
    .displayContainer {
        grid-template-columns: 4fr 20fr 1fr;
    }

    .searchFormDiv {
        grid-template-columns: 5fr 20fr 1fr;
    }

    .storyImgContainer {

    }

    .storyContainer h1 {
        font-size: 22px;
    }

    .storyContainer {
        margin-left: 0;
        margin-right: 20px;
    }

    .paper {
        padding: 1px 8px 8px 8px;
    }

}







@media only screen and (min-width: 500px){
    .displayContainer {
        grid-template-columns: 4fr 20fr 2fr;
    }

    .searchFormDiv {
        grid-template-columns: 6fr 20fr 1fr;
    }

    .storyContainer h1 {
        font-size: 20px;
    }

}



@media only screen and (min-width: 800px){
    .displayHeadTitle {
        width: 100%;
    }

    .displayContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0 20px 0 50px;
    }

    .storyContainer {
        width: 40%;
        margin: 20px 20px;
    }
}

@media only screen and (min-width: 1200px){
    .storyContainer {
        width: 25%;

    }
}
