* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
}

.appContainer {
    position: relative;
}



/*---------------------*/
/*------HEADERNAV------*/
/*---------------------*/
.headerNavDiv {
    background-color: #3dbfff;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.headerNavDiv h1 {
    margin: 0;
    padding: 5px;
    font-size: 22px;
    color: white;
    font-weight: lighter;
}

.headerNavDiv a {
    text-decoration: none;
    color: white;
    padding: 10px;
    transition: .3s;
}

.headerNavDiv a:hover {
    color: #ffc649;
}

.navDiv a {
    text-decoration: none;
    padding: 20px;
    color: white;
    transition: .3s;
}

.navDiv a:hover {
    background-color: #8ad8ff;
    color: #12394c;
}


.navDiv {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}





/*---------------------*/
/*-----WELCOMEPAGE-----*/
/*---------------------*/
.welcomePageDiv {
    background: url('https://images.unsplash.com/photo-1498940757830-82f7813bf178?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4850857100f88ddb5387d1a02f393228&auto=format&fit=crop&w=1867&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
}

.welcomePageOverlay {
    height: 90vh;
    background-color: #3338;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    box-shadow: inset 0px -1px 130px 13px rgba(36,36,36,0.62);
}

.welcomePageOverlay h1 {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 90px;
    font-weight: lighter;
    letter-spacing: 3px;
}

.welcomePageOverlay button {
    margin: 50px;
    width: 150px;
    font-size: 50px;
    border-radius: 30px;
    background-color: dodgerblue;
    border: none;
    transition: .3s;
}

.welcomePageOverlay button:hover {
    background-color: cornflowerblue;
}

.welcomePageOverlay a {
    text-decoration: none;
    border: none;
    color: white;
}


/*---------------------*/
/*--------ABOUT--------*/
/*---------------------*/
.aboutDiv {
    background: url('https://images.unsplash.com/photo-1476789668825-c16c51c46ac3?ixlib=rb-0.3.5&s=33fbc87cec61ae0f05aa6de827905fa5&auto=format&fit=crop&w=1050&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
}

.aboutDivOverlay {
    height: 90vh;
    background-color: #3338;
    box-shadow: inset 0px -1px 300px 17px rgba(20,20,20,1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.aboutDivOverlay p {
    margin: 0;
    padding: 0;
    color: white;
}
.aboutDivOverlay a {
    margin: 0;
    padding: 0;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.aboutBlock1 a:hover,
.aboutBlock2 a:hover,
.aboutBlock3 a:hover {
    color: lightblue;
    border-bottom: 1px solid lightblue;
}

.aboutBlock1,
.aboutBlock2,
.aboutBlock3 {
    display: flex;
    align-items: center;
    line-height: 25px;
    padding: 10px;
    background-color: #7777;
    border-radius: 5px;
    margin: 5px 15%;
    justify-content: flex-start;
    height: 100px;
    transition: .3s;
    font-size: 18px;
}

.aboutBlock1:hover,
.aboutBlock2:hover,
.aboutBlock3:hover {
    background-color: #3338;
}

.aboutBlock4 {
    width: 50%;
    margin-left: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons2 {
    color: white;
    font-size: 40px;
    margin: 10px;
    transition: .3s;
}

.iLink:hover {
    color: #0077B5;
}

.iGit:hover {
    color: #913399;
}


/*---------------------*/
/*--------GAME---------*/
/*---------------------*/
.gameContainerDiv {
    padding: 20px;
}

.questionDiv {
    text-align: center;
}

.questionStyle {
    font-size: 26px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 8px;
    margin: 0;
    font-weight: 400;
}

.answersDiv {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    flex-direction: column;
}

.answersDiv button {
    padding: 10px;
    font-size: 18px;
    margin: 20px 100px;
    border-radius: 5px;
    border: 1px solid #444;
    transition: .2s;
}

.answersDiv button:hover {
    letter-spacing: 5px;
    background-color: #333;
    color: white;
}

.correctAnswerScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
}

.correctAnswerScreen img {
    border-radius: 10px;
}

.newQuestionBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newQuestionBtn p {
    margin: 0;
    padding: 0;
}

.newQuestionBtn button {
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    font-size: 16px;
    background-color: #3098cc;
    color: white;
    outline: none;
    transition: .3s;
}

.newQuestionBtn button:hover {
    background-color: #247299;
}



/*---------------------*/
/*-------FOOTER--------*/
/*---------------------*/
.footerDiv {
    height: 40px;
    background-color:#4a33b2;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 15px;
}

.footerDiv a {
    text-decoration: none;
    color: white;
}

.icons {
    font-size: 30px;
}
