* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #3339;
}

.displayContainer {
    display: grid;
    grid-template-columns: 4fr 2fr;
}

.displayFormContainer {
    grid-column: 2;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

form {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

form input {
    width: 150px;
    margin: 10px 0;
}
