* {
    box-sizing: border-box;
    margin: 0;
}

.pageContainer {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
}

.headerContainer {
    height: 450px;
    background-image: url("resources/imgs/lukas-blazek-320606.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-column: 1 / 3;
    grid-row: 1;
    margin-bottom: 60px;
}

.overlay {
    background-color: #2121218c;
    height: 450px;
}

.titleBox {
    display: flex;
    flex-direction: column;
}

h1,
h2 {
    text-align: center;
    display: inline-block;
    margin-top: 20px;
    color: #e8e8e8;
    font-weight: 300;
    font-family: 'Oxygen', sans-serif;
    letter-spacing: 2px;
}

h1 {
    font-size: 50px;
    padding-top: 130px;
}

h2 {
    font-size: 28px;
}

.h2Span {
    text-transform: uppercase;
    border-bottom: 2px solid white;
}

.navContainer {
    background-color: #edeae0;
    height: 450px;
    grid-column: 3 / -1;
}

.navUl {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
}

.navUl li {
    margin-right: 36%;
    margin-top: 82px;
    font-size: 22px;
    color: #888;
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    transition: .6s ease-in;
}

.navUl li:hover {
    color: #542a22;
    text-decoration: underline;
}

.bodyContainer {
    grid-column: 1 / 2;
    padding: 25px;
}

.bodyContentDiv {
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: lighter;
}

.indentSpan {
    margin-left: 25px;
    font-size: 20px;
}

.bodyFootDiv {
    height: 250px;
    background-color: #edeae0;
    grid-column: 1 / -1;
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1;
    padding: 30px;
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    font-weight: lighter;
}

.bodyFootP1Div {
    grid-column: 1;
    padding-right: 20px;
    height: 100%;
    grid-row: 1;
}

.bodyFootP2Div {
    grid-column: 2;
    padding-left: 20px;
    height: 100%;
    grid-row: 1;
}




/*------RATINGS--------*/

.ratingsContainer {
    grid-column: 2 / -1;

}

.ratingsBackground {
    background-image: url("resources/imgs/mona-eendra-208388.jpg");
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;

}

.ratingOverlay {
    background-color: #6f626285;
    height: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.rating1,
.rating2,
.rating3 {
    grid-column: 2;
    margin-top: 33px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    background-color: #eee8;
    height: 50%;
    border-radius: 3px;
    box-shadow: -2px 2px 15px 5px #6666;
    transition: .5s;
    text-align: center;
}

.rating1:hover,
.rating2:hover,
.rating3:hover {
    background-color: white;
}


.rating1 p,
.rating2 p,
.rating3 p {
    font-size: 32px;
    font-family: 'Oxygen', sans-serif;
    padding-top: 13px;
    color: white;
    font-weight: lighter;
    letter-spacing: 2;
    transition: .5s;
    width: 100%;
}

.rating1 p:hover,
.rating2 p:hover,
.rating3 p:hover {
    color: #444;
}




/*--------GALLERY---------*/

.galleryContainer {
    height: 200px;
    margin-top: 60px;
    display: grid;
    background-image: url("resources/imgs/nasa-89127.jpg");
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}

.galleryOverlay {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 100px);
}

.galImg1,
.galImg2,
.galImg3,
.galImg4,
.galImg5,
.galImg6,
.galImg7,
.galImg8 {
    border: 10px solid white;
}

.galImg2,
.galImg4,
.galImg6,
.galImg8 {
    grid-row: 2;
    border-top: 5px solid white;
}

.galImg1,
.galImg3,
.galImg5,
.galImg7 {
    grid-row: 1;
    border-bottom: 5px solid white;
}

.emptyImg1,
.emptyImg3,
.emptyImg5,
.emptyImg7 {
    background-color: white;
    grid-row: 1;
}

.emptyImg2,
.emptyImg4,
.emptyImg6,
.emptyImg8 {
    background-color: white;
    grid-row: 2;
}

.galImg1,
.emptyImg1 {
    grid-column: 1;
}

.galImg2,
.emptyImg2 {
    grid-column: 2;
}

.galImg3,
.emptyImg3 {
    grid-column: 3;
}

.galImg4,
.emptyImg4 {
    grid-column: 4;
}

.galImg5,
.emptyImg5 {
    grid-column: 5;
}

.galImg6,
.emptyImg6 {
    grid-column: 6;
}

.galImg7,
.emptyImg7 {
    grid-column: 7;
}

.galImg8,
.emptyImg8 {
    grid-column: 8;
}




/*--------FOOTER---------*/

.footerDiv {
    height: 200px;
    grid-column: 1 / -1;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr 4fr 2fr 1fr;
}

.formDiv {
    grid-column: 3;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.iconsDiv {
    grid-column: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 20px 0;
}

.formDiv input {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    width: 200px;
    font-size: 15px;
    font-family: 'Oxygen', sans-serif;
}

.formDiv h3 {
    font-size: 20px;
    font-family: 'Oxygen', sans-serif;
    font-weight: lighter;
}

.submitBtn {
    margin-top: 20px;
    width: 100px;
    height: 25px;
    border-radius: 5px;
    transition: .3s;
}

.submitBtn:hover {
    background-color: #aaa;
    color: white;
}

.footerLeftFill {
    grid-column: 2;
    background-color: #ddd;
}

.footerRightFill {
    grid-column: 4;
    background-color: #ddd;
}

.iconsDiv {

}

.iconsDiv ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    padding: 0;
}

.icon1,
.icon2,
.icon3 {
    font-size: 30px;
    margin: 20px;
    transition: .3s;
}

.icon1:hover {
    color: #dd4b39;
}

.icon2:hover {
    color: #6e5494;
}

.icon3:hover {
    color: #00aced;
}




/*------- QUERIES -------*/


/*-------------------------*/
/*---------TABLET----------*/
/*-------------------------*/

@media only screen and (max-width: 800px) {
    .rating1 p,
    .rating2 p,
    .rating3 p {
        padding-top: 28px;
    }

.bodyFootDiv {
    height: 390px;
    font-size: 18px;
}

}

@media only screen and (max-width: 700px) {


.bodyFootDiv {
    height: 475px;
    font-size: 18px;
}

}

@media only screen and (max-width: 600px) {
.rating1 p,
.rating2 p,
.rating3 p {
    padding-top: 36px;
}

.bodyFootDiv {
    height: 625px;
}

}




/*-------------------------*/
/*---------MOBILE----------*/
/*-------------------------*/

@media only screen and (max-width: 500px) {

.mobileContainer {
    display: grid;
    grid-template-columns: 20px 1fr 20px;
}

.pageContainer {
    grid-column: 1 / -1;
    grid-template-columns: 20px 1fr 20px;
}

.topContainer {
    grid-column: 1 / -1;
}

.navContainer {
    grid-column: 1 / -1;
    height: 50px;
}

.navUl {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}

.navUl li {
    margin: 8px 20px 0 20px;
}

.headerContainer {
    height: 450px;
    grid-column: 1 / -1;
    margin-bottom: 10px;
}

h1 {
    font-size: 40px;

}

h2 {
    font-size: 20px;
}

.bodyContainer {
    grid-column: 2;
    padding: 15px;
}

.ratingsContainer {
    grid-column: 2;
}

.ratingOverlay {
    grid-template-columns: 25px 1fr 25px;
}

.rating1,
.rating2,
.rating3 {
    margin: 33px 0;
}

.rating1 p,
.rating2 p,
.rating3 p {
    font-size: 20px;
    letter-spacing: 2px;
    padding-top: 15px;
}

.bodyFootDiv {
    margin-top: 30px;
    height: 500px;
    font-size: 15px;
}

.formDiv {
    margin: 0 20px;
}

}



@media only screen and (max-width: 469px) {
.bodyFootDiv {
    font-size: 14px;
    height: 450px;
}
}

@media only screen and (max-width: 445px) {
.bodyFootDiv {
    font-size: 14px;
    height: 525px;
}
}

@media only screen and (max-width: 375px) {


.bodyFootDiv {
    height: 560px;
}
}

@media only screen and (max-width: 320px) {

.bodyFootDiv {
    height: 695px;
}
}
