
/* FRANCE */

.france {
    width: 300px;
    height: 175px;
    border: 2px solid black;
    position: relative;
}

.fblue {
    background-color: blue;
    height: 175px;
    position: absolute;
    width: 100px;
    left: 0;
}

.fred {
    background-color: red;
    height: 175px;
    position: absolute;
    right: 0;
    width: 100px;
}


/* GERMANY */

.germany {
    background-color: #CC1B15;
    width: 300px;
    height: 175px;
    border: 2px solid black;
    position: relative;
    margin-top: 5px;
}

.gblack {
    background-color: black;
    width: 300px;
    height: 33%;
}

.gyellow {
    background-color: #FFD33D;
    width: 100%;
    height: 33%;
    position: absolute;
    bottom: 0;
}


/* MADAGASCAR */

.madagascar {
    width: 275px;
    height: 175px;
    border: 2px solid black;
    position: relative;
    margin-top: 5px;
}

.mred {
    background-color: #FF3621;
    width: 66%;
    height: 50%;
    position: absolute;
    right: 0;
}

.mgreen {
    background-color: #007F19;
    width: 66%;
    height: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
}


/* SWITZERLAND */

.switzerland {
    background-color: red;
    height: 300px;
    width: 300px;
    margin-top: 5px;
    position: relative;
    border: 2px solid black;
}

.swhite1 {
    background-color: white;
    height: 195px;
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.swhite2 {
    background-color: white;
    height: 60px;
    width: 195px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* SWEDEN */

.sweden {
    width: 300px;
    height: 175px;
    border: 2px solid black;
    position: relative;
    background-color: #1873A6;
    margin-top: 5px;
}

.syellow1 {
    background-color: #FFD33D;
    height: 175px;
    width: 32px;
    position: absolute;
    right: 60%;
}

.syellow2 {
    background-color: #FFD33D;
    width: 300px;
    height: 32px;
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
}


/* GAMBIA */

.gambia {
    width: 300px;
    height: 175px;
    border: 2px solid black;
    position: relative;
    margin-top: 5px;
}

.gred {
    background-color: #C2252C;
    width: 100%;
    position: absolute;
    height: 33%;
}

.gblue {
    background-color: #20197F;
    width: 100%;
    height: 22%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.ggreen {
    background-color: #187F2D;
    width: 100%;
    height: 33%;
    position: absolute;
    bottom: 0;
}


/* TONGA */

.tonga {
    width: 350px;
    height: 175px;
    border: 2px solid black;
    position: relative;
    margin-top: 5px;
    background-color: #C20C0A;
}

.tWhiteBox {
    background-color: white;
    position: relative;
    width: 36%;
    height: 50%;
}

.tRed1 {
    background-color: #C20C0A;
    width: 20px;
    height: 63px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50px, 12px);

}

.tRed2 {
    background-color: #C20C0A;
    width: 65px;
    height: 20px;
    position: absolute;
    top: 0;
    transform: translate(28px, 34px);
}


/* JAPAN */

.panBox {
    width: 300px;
    height: 200px;
    border: 2px solid black;
    position: relative;
    margin-top: 5px;
}

.redDot {
    height: 50%;
    width: 35%;
    background-color: #A10D25;
    top: 50%;
    right: 0;
    position: absolute;
    transform: translate(-84%, -50%);
    border: 5px solid #A10D25;
    border-radius: 50%;
}
