* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

body {
    background-color: #eee;
}

/*----------------------*/
/* -----  NAV BAR ----- */
/*----------------------*/

.navContainer {
    position: fixed;
    width: 100%;
}

.navDiv {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    background-color: rgba(100, 100, 100, .5);
    height: 50px;
    align-items: center;
}

nav {
    display: flex;
    font-size: 22px;
    font-weight: 300;
}

nav a {
    text-decoration: none;
}

nav a:visited {
    color: black;
}

nav a:hover,
nav a:active,
.navIcon:hover {
    color: white;
    transition: .5s;
}

li {
    list-style: none;
    margin: 15px;
}

nav li:hover {
    text-decoration: underline;
}

.navIcon {
    font-size: 30px;
}



/* ---------------------- */
/* ------- HEADER ------- */
/* ---------------------- */

header {
    height: 775px;
    display: flex;
    background-image: url(https://images.unsplash.com/photo-1484429791456-7762873ce0f9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5b20ddd265963872979c82f5929bac70&auto=format&fit=crop&w=1650&q=80);
    background-size: cover;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
}

.headerDiv {
    margin-top: 70px;
}

header h1 {
    font-size: 70px;
    color: white;
    font-weight: 300;
    letter-spacing:  2px;
}

header h2 {
    color: white;
    font-weight: lighter;
    margin-left: 125px;
    margin-top: 10px;
    letter-spacing:  2px;
}

header span {
    font-size: 18px;
    display: inline-block;
    position: relative;
    bottom: 35px;
}


/*---------------*/
/*---- MAIN -----*/

.mainContainer {
/* no styling for now*/
}


/*--------------*/
/*--- CITIES ---*/
/*--------------*/

.citiesDiv {
    text-align: center;
    margin: 40px 0;
    font-size: 30px;
    text-decoration: underline;
    letter-spacing:  1.5px;
}

.threeCitiesContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    height: 400px;
    margin-bottom: 20px;
}

.threeCitiesContainer h3 {
    margin-bottom: 10px;
    font-size: 23px;
    letter-spacing:  1.5px;
}

.threeCitiesContainer img {
    border: 1px solid black;
    border-radius: 5px;
}

.threeCitiesContainer p {
    margin: 10px 20px;
    padding: 0 10px;
    text-align: left;
    font-size: 17px;
}

#city1Div,
#city2Div,
#city3Div {
    text-align: center;
    border: 1px solid white;
    margin: 0 15px 10px 15px;
    background-color: white;
    border-radius: 8px;
    padding: 10px 0;
    -webkit-box-shadow: -3px 9px 16px 1px #bfbfbf;
    -moz-box-shadow: -3px 9px 16px 1px #bfbfbf;
}

#city1Div:hover,
#city2Div:hover,
#city3Div:hover {
    background-color: #555;
    color: white;
    transition: .3s;
}



/*------------------*/
/*-- TESTIMONIALS --*/
/*------------------*/

.testimonialsDiv {
    margin-top: 35px;
    height: 500px;
    background-image: url(https://images.unsplash.com/photo-1459539235056-5045ca20e525?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=42ace4ed912d7d494a4385258572a682&auto=format&fit=crop&w=1950&q=80);
    background-size: cover;
    background-attachment: fixed;
}

.overlay {
    height: 500px;
    background-color: rgba(20, 20, 20, 0.8);
}

.testyBox {
    display: flex;
    justify-content: space-around;
}

.testimonialHeader {
    text-align: center;
    color: white;
    font-size: 24px;
}

.testimonialHeader h3 {
    margin: 10px 0;
    padding-top: 30px;
    font-size: 35px;
}

.capLetter {
    font-size: 50px;
}

div.testyBox p {
    font-weight: lighter;
}

#testimonial1,
#testimonial2 {
    align-self: center;
    color: white;
    font-size: 22px;
    padding: 10px;
    margin: 20px;
}

.testImgDiv {
    margin-top: 26px;
}

.testImgDiv img {
    border: 1px solid white;
    border-radius: 50%;
}

div.testImgDiv span {
    font-weight: lighter;
}



/*------------------------*/
/*-- FOOTER/FORM/SOCIAL --*/
/*------------------------*/

.footerContainer {
    display: flex;
    justify-content: space-around;
    height: 230px;
    margin-top: 20px;
}

fieldset {
    height: 200px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    transform: translateX(-62%);
}

legend {
    font-size: 22px;
    font-weight: 700;
}

input {
    display: block;
    height: 35px;
    width: 250px;
    margin: 10px;
    font-size: 16px;
}

.subBtn {

}

.socialMediaHeader {
    font-size: 22px;
    font-weight: 300;
}


.iconList {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

ul.iconList li i {
    font-size: 40px;
}

.fb:hover {
    color: #3b5998;
}

.gp:hover {
    color: #dd4b39;
}

.tw:hover {
    color: #00aced;
}

.fbl:visited,
.gpl:visited,
.tsl:visited {
    color: black;
}

.legal {
    text-align: center;
    margin: 5px;
    font-size: 13px;
}

#submitted {
    font-size: 30px;
    margin-top: 20px;
}

/**/
