* {
    margin: 0;
}

/*--- FONTS ---*/
@font-face {
    font-family: verdeModerna;
    src: url(resources/imgs/verdemoderna.woff);
}

@font-face {
    font-family: juliusSansOneV6;
    src: url(http://fonts.gstatic.com/s/juliussansone/v6/iU65JP9acQHPDLkdalCF7pbhOpL-vLTkIjCTuVYsuO0.woff2);
}

@font-face {
    font-family: juliusSansOneV5;
    src: url(http://fonts.gstatic.com/s/librebaskerville/v5/pR0sBQVcY0JZc_ciXjFsK8j0T1k_tV7QYhgnOhA2764.woff2);
}

@font-face {
    font-family: juliusSansOneV5Italic;
    src: url(http://fonts.gstatic.com/s/librebaskerville/v5/QHIOz1iKF3bIEzRdDFaf5fbsUggLxuOzHNuXcSFlTaY.woff2);
}

@font-face {
    font-family: glyph;
    src: url(resources/imgs/enso.svg);
}


/*==================*/
/* ==== HEADER ==== */

.topTrim {
    background-color: #265751;
    padding-top: 10px;
    width: 100%;
}

.headerDiv {
    position: relative;
    width: 100%;
    background: url(resources/imgs/gridlines-opaque.png) fixed,
                url(resources/imgs/contours@2x.png) no-repeat,
                url(resources/imgs/huntington.jpg) no-repeat;
    background-size: auto;
    background-size: cover;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.glyph {
    width: 50px;
    position: absolute;
    top: 10px;
    margin-top: 10px;
}

.titleSpan {
    text-decoration: underline rgba(204, 204, 204, 0.7) dashed;
    font-size: 16px;
}

header h1 {
    color: white;
    width: 100vw;
    margin-top: 85px;
    font-family: juliusSansOneV6, serif;
    font-weight: lighter;
    font-size: 29px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

header h2 {
    color: white;
    font-family: juliusSansOneV5Italic;
    font-size: 18px;
    padding-top: 5px;
    /* letter-spacing: 1px; */
    color: rgba(250, 250, 250, .6);
}

.bannerRow {
    width: 100%;
    height: 70px;;
    bottom: 0;
    background-color: rgba(204, 204, 204, 0.25);
    position: absolute;
    display: grid;
    grid-template-columns: 75px auto 75px;
    font-family: juliusSansOneV6;
    font-size: 18px;
}

.bannerBtn1 {
    height: 70px;
    grid-column: 1;
}

.banner {
    grid-column: 2;
    height: 70px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

div.banner span {
    color: rgba(250, 250, 250, .6);
    text-transform: uppercase;
    font-size: 18px;
    padding-top: 3px;
}

.bannerBtn2 {
    grid-column: 3;
    height: 70px;
}

.bannerBtn1:hover,
.bannerBtn2:hover,
.banner:hover {
    background-color: rgba(204, 204, 204, 0.4);
    cursor: pointer;
}



/*--------------------*/
/*====== MAIN ========*/

.whiteContainer1 {
    display: grid;
    grid-template-columns: 10% auto 10%;
}

.introDiv {
    grid-column: 2;
    margin-top: 35px;
    line-height: 1.9;
    font-family: juliusSansOneV5;
    font-size: 13.5px;
    color: rgba(1, 1, 1, 0.8);
}

.article1,
.article2,
.article3 {
    grid-column: 2;
}

article.article1 p,
article.article2 p,
article.article3 p {
    margin-top: 10px;
    line-height: 1.9;
    font-family: juliusSansOneV5;
    font-size: 13.5px;
    color: rgba(1, 1, 1, 0.8);
}

.article1Head,
.article2Head,
.article3Head {
    font-family: juliusSansOneV6;
    margin-top: 42px;
    font-size: 20px;
    text-transform: uppercase;
}

.article2 {
    margin-bottom: 20px;
}

.article3 {
    margin-top: 20px;
    background-color: rgba(138,188,159,0.5);
}

.article3Background {
    background-color: rgba(138,188,159,0.5);
    grid-column: 1;
}





/*-----*/
